@page "/categorias/crear"
@using RestauranteApp.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="container mr-5 ml-5">
    <h3>Categoria</h3>
    <hr />
    <CategoriaEditPage Categoria="Categoria" OnGrabar="Grabar"></CategoriaEditPage>
</div>



@code {
    public CategoriaDto Categoria { get; set; } = new CategoriaDto();
    private async Task Grabar()
    {
        await Http.PostAsJsonAsync("api/categorias", Categoria);
        NavigationManager.NavigateTo("/categorias/list");
    }

}