@page "/proveedores/crear"
@using RestauranteApp.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Proveedor</h3>
<hr />
<ProveedorEditPage Proveedor="Proveedor" OnGrabar="Grabar"></ProveedorEditPage>


@code {
    public ProveedorDto Proveedor { get; set; } = new ProveedorDto();
    private async Task Grabar()
    {
        await Http.PostAsJsonAsync("api/proveedores", Proveedor);
        NavigationManager.NavigateTo("/proveedores/list");
    }

}
