.colorEditar {
    color: #198754;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.colorEliminar {
    color: red;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.colorReset{
    color: darkgoldenrod;
}

.colorMenu {
    background-color: #006666;

}
.colorCarrito {
    color: #FFC107;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.tarjetaFooter {
background-color: darkgray;
    
}