@inherits LayoutComponentBase
<BlazoredToasts />

<div>
    <NavMenu />
</div>
<div class="container-fluid content position-relative h-100">
    @Body
</div>
<footer>
    <div class="footer">
        <div class="row_footer">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
        </div>

        <div class="row_footer">
            <ul>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">contactenos</a></li>
                <li><a href="#">Politicas de privacidad</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
            </ul>
        </div>

        <div class="row_footer">
            Moustaches Copyright © 2024 Cinema PopCorn - Todos los derechos
            reservados || Creado por: Gustavo
        </div>
    </div>
</footer>